.order {
  display: inline-block;
  margin: 10px;
  background-color: #FFF;
  border: none;
  border-radius: 6px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}